<div class="container">
  <p class="box-title">Password Generator</p>
  <div class="gen-box">
    <h3 class="gen-box-password">{{ password }}</h3>
    <button class="copy-btn">
      <i class="fas fa-copy"></i>
    </button>
  </div>
  <div class="form-container">
    <form action="post">
      <div class="char-length">
        <div class="length-slider">
          <div class="length-info">
            <p>Character Length</p>
            <h3 class="length-value">{{ length }}</h3>
          </div>
          <input 
            type="range" 
            id="length" 
            min="4" max="15" 
            [(ngModel)]="length"
            (input)="onSliderMove($event)"
            name="length"
          >
        </div>
      </div>
      <div class="checks">
        <p class="upcase"><input type="checkbox" [(ngModel)]="upcase" (change)="onCheckboxChange()" name="upcase"> Include Uppercase Letters</p>
        <p class="lowcase"><input type="checkbox" [(ngModel)]="lowcase" (change)="onCheckboxChange()" name="lowcase"> Include Lowercase Letters</p>
        <p class="numbers"><input type="checkbox" [(ngModel)]="numbers" (change)="onCheckboxChange()" name="numbers"> Include Numbers</p>
        <p class="symbols"><input type="checkbox" [(ngModel)]="symbols" (change)="onCheckboxChange()" name="symbols"> Include Symbols</p>
      </div>
      <div class="strength-box">
        <span class="strength-label">Strength</span>
        <div class="strength-rating">
          <span class="strength-rating-text"></span>
          <div class="strength-rating-bars">
            <div class="bar" [ngClass]="{'active' : passwordStrength >= 1}"></div>
            <div class="bar" [ngClass]="{'active' : passwordStrength >= 2}"></div>
            <div class="bar" [ngClass]="{'active' : passwordStrength >= 3}"></div>
            <div class="bar" [ngClass]="{'active' : passwordStrength >= 4}"></div>
          </div>
        </div>
      </div>
      <button class="generate-btn" (click)="generatePassword()">Generate →</button>
    </form>
  </div>
</div>
